<!--
-->
<div class="content content-profile">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "profile-avatar" %>
    <% else %>
      <img src="/game_images/avatar.png" class="profile-avatar">
      <%#= image_tag "avatar.png", class: "profile-avatar" %>
    <% end %>
    <h2><%= @user.username %> #<%= @user.id %></h2>
    <p><strong>Subscribed: </strong><%= current_user.created_at.strftime("%d/%b/%Y") %></p>
  <div class="content-records">
    <% @levels.sort_by{ |e| e[:level] }.each do |level| %>
      <div class="card-record">
      <h2><%= level[:level].name %></h2>
      <!-- <p><%= link_to "Play", level_path(level[:level]), class: "eightbit-btn" %></p> -->
      <p><strong></strong><%= level[:level].description %></p>    
      <p><strong>Started: </strong><%= level[:record]&.created_at&.strftime("%d/%b/%Y  -  %Hh%M") %></p>
      <p><strong>Updated: </strong><%= level[:record]&.updated_at&.strftime("%d/%b/%Y  -  %Hh%M") %></p>
      <p><strong>Completed: </strong><%= level[:record]&.completed_at&.strftime("%d/%b/%Y  -  %Hh%M") %></p>
      </div>
    <% end %>
  </div>
</div>
  <div class="btn-level">
    <%= button_to  "Go to Levels", levels_path, method: :get %>
  </div>