<div class="navbar">
  <h1><%= link_to  "PRO{GAME}", root_path %></h1>
  <div class="navbar-nav">
    <% if user_signed_in? %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar mr-3" %>
      <% else %>
        <img src="/images/avatar.png" class="avatar mr-3">
        <%#= image_tag "avatar.png", width: 50, class: "avatar mr-3" %>
      <% end %>
      <h3>Welcome,<br /><%= current_user.username %></h3>
      <%= link_to  "#", :remote => true, 'data-action'=>"click->modal#open" do %>
        <i class="fas fa-caret-down"></i>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nes-btn" %>
      <%= link_to "Sign up", new_user_registration_path, class: "nes-btn" %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div id="modal-menu" class="modal" data-target='modal.modal'>
  <div class="modal-content nes-container is-dark is-rounded">
    <span class="close nes-pointer" data-action="click->modal#close">&times;</span>
    <h2>Paused</h2>
    <h6>(Just kidding)</h6>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to "View profile", user_path(current_user) %></li>
        <li><%= link_to "Edit account", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
    <% end %>
  </div>
</div>
