<div class="navbar">
  <h1>JEDI</h1>
  <div class="navbar-nav">
    <% if user_signed_in? %>
      <h3>Welcome,<br /><%= current_user.username %></h3>
      <%= link_to "#", id:"menu" do %>
        <i class="fas fa-caret-down"></i>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sing up", new_user_registration_path %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div id="modal-menu" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <ul>
      <li><%= link_to "Edit account", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
