<div class="content">
  <div class="game-card">
    <h1>Flexbox<br />Game</h1>
    <% if (user_signed_in? && current_user.user_records.empty?) || !user_signed_in? %>
      <h3><%= link_to  "Press Start", level_path(@level_one.id) %></h3>
      <h3><%= link_to  "Select level", levels_path %></h3>
    <% elsif user_signed_in? && current_user.user_records.any? %>
      <div class="game-card-options">
        <h3><%= link_to  "Resume", level_path(current_user.user_records.last.level_id) %></h3>
        <h3><%= link_to  "Select level", levels_path %></h3>
      </div>
    <% end %>
  </div>
</div>
<iframe src="<%= asset_path('musicaflex.mp3') %>" allow="autoplay" style="display:none" id="iframeAudio">
</iframe>
<audio autoplay loop  id="playAudio">
    <source src="<%= asset_path('musicaflex.mp3') %>">
</audio>
<script>
  //const isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
  //let element;
  //if (!isChrome){
  //  element = document.getElementById('iframeAudio');
  //} else {
  //  element = document.getElementById('playAudio');
  //}
  //element.parentNode.removeChild(element);
  //if (confirm("podemos tocar música?")){
   //const audio = new Audio('<%#=asset_path("musicaflex.mp3")%>');
  //audio.play();
  //}
  //window.onload = function() {
   // document.getElementById("my_audio").play();
//}
</script>
