<h1>Essa é a página do user records</h1>
  <br>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>User id: </strong><%= @user.id %></p>
<p><strong>Subriscribed: </strong><%= @user.created_at.strftime("%d/%b/%Y") %></p>
  <br>
  <br>
  <br>
<h2><strong>Level 1</strong></h2>
<p><%= link_to "Play", "level/1", class: "btn btn-green" %></p>
<p><strong>Started: </strong><%= @level_1_created %></p>
<p><strong>Updated: </strong><%= @level_1_updated %></p>
<p><strong>Completed: </strong><%= @level_1_completed %></p>
<br>
<br>
<h2><strong>Level 2</strong></h2>
<p><%= link_to "Play", "level/2", class: "btn btn-green" %></p>
<p><strong>Started: </strong><%= @level_2_created %></p>
<p><strong>Updated: </strong><%= @level_2_updated %></p>
<p><strong>Completed: </strong><%= @level_2_completed %></p>
<br>
<br>
<h2><strong>Level 3</strong></h2>
<p><%= link_to "Play", "level/3", class: "btn btn-green" %></p>
<p><strong>Started: </strong><%= @level_3_created %></p>
<p><strong>Updated: </strong><%= @level_3_updated %></p>
<p><strong>Completed: </strong><%= @level_3_completed %></p>
<br>
<br>
<br>
<br>
