<h1>Essa é a página do user records</h1>
<p>Username: <%= @user.username %></p>
<p>User_id: <%= @user.id %></p>
<p>Subriscribed on: <%= @user.created_at %></p>
<% @user_records.all %>
<% @user_records.each do |user_record| %>
  <br>
  <p>Play: <%= link_to user_record.level.name, "level/#{user_record.level.id}" %></p>
  <p>Dificulty: <%= user_record.level.dificulty %></p>
  <p>Started on: <%= user_record.level.created_at %></p>
  <p>Last updated on: <%= user_record.level.updated_at %></p>
  <p>Completed on: <%= user_record.completed_at %></p>
  <%= link_to "Reset level", user_record, method: :patch, data: { confirm: "Are you sure? This will disable next levels." } %>
  <br>
<% end %>
