<div class='flex-list'>
  <% @levels.sort_by{ |e| e[:level] }.each do |level| %>
    <div class='card-level border-pixel'>
      <h2><%= level[:level].name %></h2>
      <%= link_to "PLAY", level_path(level[:level]), class:"eightbit-btn" %>
      <h4><%= level[:level].difficulty %></h4>
      <p><%= level[:level].description %></p>
      <p><%= "Level completed" if !level[:record]&.completed_at.nil? %></p>
    </div>
  <% end %>
</div>
  