<div class='flex-list'>
  <% @levels.sort_by{ |e| e[:level] }.each do |level| %>
    <div class='nes-container with-title is-centered is-dark'>
      <h2 class="title"><%= level[:level].name %></h2>
      <%= link_to "PLAY", level_path(level[:level]), class:"nes-btn is-dark" %>
      <h4><%= level[:level].difficulty %></h4>
      <p><%= level[:level].description %></p>
      <p><%= "Completed" if !level[:record]&.completed_at.nil? %></p>
    </div>
  <% end %>
</div>
  