<div class="content" data-controller="iframe">
  <div id="level-header">
  </div>

  <div id="typewriter" class="baloon" data-level-name="<%= @level.name %>"></div>

  <div class="btn-prev-next">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
  </div>

  <div class="btn-level">
    <%= button_to  "Back to Levels", levels_path, method: :get %>
    <button id="jump">Jump</button>
  </div>

  <div id="examples">
  </div>

  <div class="box-form" data-controller="validation">
    <form id="box-answer" action="#">
      <input id="answer" data-answer="<%= @level.correction %>" data-action='keyup->iframe#validation' type="text">
    </form>
    <div id="iframes">
      <iframe src="<%= level_example_url(@level.examples.first) %>" data-example="<%= @level.examples.first.content %>" data-tgt='<%= @level.examples.first.target %>' data-target='iframe.frame' id="iframe-question" class="frame" frameborder="0" allowfullscreen="true">
      <%# raise %>
      </iframe>
    </div> 
  </div>
</div>


<%# level_example GET    /levels/:level_id/examples/:id(.:format) examples#show %>