<div class="navbar-ex">
  <div class="logo">
    <%= image_tag("Pacman.png") %>
    <h3>PAC-MAN</h3>
  </div>
  <ul>
    <li>HOME</li>
    <li>ABOUT</li>
    <li>FAQ</li>
    <li>CONTACT</li>
    <li>GALLERY</li>
    <li>TEAM</li>
  </ul>
</div>

<div id="content-wrap">
  <div class="banner-ex">
    <h1>Welcome to this landing page of pac-man</h1>
    <h2>Page example to Showcase how to organize elements</h2>
  </div>
  <div class="container">
    <h3>Ghosts</h3>
    <div class="card-ghosts">
      <%= image_tag("Blinky.png") %>
      <h3>Blinky</h3>
      <p>The leader of the gang. Blinky gives direct chase to Pac-Man. </p>
    </div>
    <div class="card-ghosts">
      <%= image_tag("Pinky.png") %>
      <h3>Pinky</h3>
      <p>Pinky try to position in front of Pac-Man</p>
    </div>
    <div class="card-ghosts">
      <%= image_tag("Inky.png") %>
      <h3>Inky</h3>
      <p>Kinda unpredictable. He will switch between chasing Pac-man, jump in front of him or just walk aleatory. </p>
    </div>
    <div class="card-ghosts">
      <%= image_tag("Clyde.png") %>
      <h3>Clyde</h3>
      <p>The sweet and silly one. Sometimes will chase the Pac-man and sometimes will flee from him. </p>
    </div>
  </div>
</div>

<footer>
<div class="media">
  <h3>Social Media</h3>
</div>
<div class="links">
  <h3>Important links</h3>
</div>
</footer>