<!DOCTYPE html>
<html>
  <head>
    <title>PRO{GAME} - Learn to code by playing games</title>
    <%= favicon_link_tag asset_path('/images/joystick.png'), :rel => 'icon', :type => 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css@latest/css/nes.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <%
=begin%>
 <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>"> 
<%
=end%>
  </head>

  <body data-controller="credits"> 
    <div id="page-container" data-controller="modal">
      <%= render 'shared/navbar' %>
      <p class="alert"><%= alert %></p>
      <p class="notice"><%= notice %></p>
      <div id="content-wrap">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>

    <div class="modal" data-action='click@window->credits#close' data-target='credits.modal'>
      <div class="modal-content modal-lg nes-container is-dark is-rounded">
        <span class="close" data-action="click->credits#close">&times;</span>
        <h1>Credits</h1>
          <div>
            <table>
              <tbody>
                <tr>
                  <td><%= image_tag  "/images/isa.jpg", class:"avatar-sm" %> Isabela Porto</td>
                  <td>
                    <a href="https://github.com/isaporto" target="_blank">
                      <i class="nes-icon github is-medium"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/felipe.jpg", class:"avatar-sm" %> Felipe Arakaki</td>
                  <td>
                    <a href="https://github.com/felipearakaki16" target="_blank">
                      <i class="nes-icon github is-medium"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/monique.jpg", class:"avatar-sm" %> Monique Marinho</td>
                  <td>
                    <a href="https://github.com/msmarinho" target="_blank">
                      <i class="nes-icon github is-medium"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Special Thanks</h3>
            <table>
              <tbody>
                <tr>
                  <td><%= image_tag  "/images/roberto.jpg", class:"avatar-sm" %> Roberto Barros</td>
                  <td><%= image_tag  "/images/rafael.jpg", class:"avatar-sm" %> Rafael Alonso</td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/Neto.jpg", class:"avatar-sm" %> Neto</td>
                  <td><%= image_tag  "/images/Bruno.jpg", class:"avatar-sm" %> Bruno Toxtex</td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/Thierry.jpg", class:"avatar-sm" %> Thierry</td>
                  <td><%= image_tag  "/images/Hugo.jpg", class:"avatar-sm" %> Hugo</td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/João.jpg", class:"avatar-sm" %> Juca</td>
                  <td><%= image_tag  "/images/Gabs.jpg", class:"avatar-sm" %> Gabs</td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/Ana.jpg", class:"avatar-sm" %> Ana Ricetti</td>
                  <td><%= image_tag  "/images/fabiana.jpg", class:"avatar-sm" %> Fabiana</td>
                </tr>
                <tr>
                  <td><%= image_tag  "/images/mathieu.jpg", class:"avatar-sm" %> Mathieu</td>
                  <td><%= image_tag  "/images/babyyoda.jpg", class:"avatar-sm" %> Baby Yoda</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </body>
</html>
